{% extends "base.html" %} {% block title %}Compose{% endblock %} {% block content
%}
<h1 align="center">Compose Email</h1>
<ul class="list-group list-group-flush" id="compose">

</ul>
<form method="POST">
  <label for="to">To</label>
  <input name="to" id="to" class="form-control"/>
  <label for="subject">Subject</label>
  <input name="subject" id="subject" class="form-control"/>
  <label for="message">Message</label>
  <textarea name="message" id="message" class="form-control"></textarea>



  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Send</button>
  </div>





</form>
{% endblock %}
