{% extends "base.html" %} {% block title %}Inbox{% endblock %} {% block content
%}
<br>
<div class="container">
<div class="row">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="grid email">
			<div class="grid-body">
				<div class="row">
					<!-- BEGIN INBOX MENU -->
					<div class="col-md-3">
						<h2 class="grid-title"><i class="fa fa-inbox"></i> Inbox</h2>

						<button onclick ="location.href='/compose'" class="btn btn-block btn-primary"><i class="fa fa-pencil"></i>&nbsp;&nbsp;NEW MESSAGE</button>

						<hr>
					</div>
					<!-- END INBOX MENU -->

					<!-- BEGIN INBOX CONTENT -->
					<div class="col-md-9">
						<div class="row">


							<div class="col-md-6 search-form">
								<form method="POST" class="text-right">
									<div class="input-group">
										<input type="text" name="searchWord" id="searchWord" class="form-control input-sm" placeholder="Search">
										<span class="input-group-btn">
                                            <button type="submit" class="btn_ btn-primary btn-sm search"><i class="fa fa-search"></i></button></span>
									</div>
								</form>
							</div>
						</div>

						<div class="padding"></div>

						<div class="nav-item nav-link">
							<table class="table">
								<tbody>
								<tr>
									<td class="name">From:  </td>
									<td class="subject">Subject </td>
									<td class="time">Time  </td>
								</tr>
								{% for id in range(0, uids|length) %}
								<tr>

									<td class="name"><a href="view_email/{{uids[id]}}">
										{% if isUnseen[id] == 'unseen'%}
										<b>{{ senders[id]}}</b>
										{%else%}
										{{ senders[id]}}
										{% endif %}
									</a></td>

									<td class="subject"><a href="view_email/{{uids[id]}}">
										{% if isUnseen[id] == 'unseen'%}
										<b>{{ subjects[id]}}</b>
										{%else%}
										{{ subjects[id]}}
										{% endif %}

										</a></td>
									<td class="time">
										{% if isUnseen[id] == 'unseen'%}
										<b>{{ dates_sent[id]}}</b>
										{%else%}
										{{ dates_sent[id] }}
										{% endif %}

									</td>

								</tr>
								{% endfor %}
							</tbody></table>
						</div>
					</div>
					<!-- END INBOX CONTENT -->
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>
</div>

{% endblock %}
